<!doctype html>
<html>



<head>
  <meta name="viewport" content="width=device-width">
  <title>隣の人とチャットできるサイト</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    body {
      padding-top:80px;
      word-wrap:break-word;
    }
  </style>
</head>



<body>
  <div class="container">

    <div class="page-header text-center">
      <h1><span class="fa fa-anchor"></span> 隣の人とチャットできるサイト</h1>
      <br>
      <h3>こんにちは、<%= user2.username %>さん</h3>
      <br>
      <a href="/chat" class="btn btn-default">
        <span class="fa fa-user"></span> 隣の人とチャット
      </a>
      <a href="/logout" class="btn btn-default">
        <span class="fa fa-user"></span> ログアウト
      </a>
    </div>

  </div>
</body>



</html>